<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Test Version</title>
</head>
<body>
    <h1>Hey</h1>
    <div class="container"> 
        <form action="/home" method='POST'>
            <div class="form-group">
              <label for="formGroupExampleInput">Name</label>
              <input name="name"type="text" class="form-control"  placeholder="Example input">
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Contact</label>
              <input name="contact" type="number" class="form-control" placeholder="Another input">
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2">Blood</label>
                <input name="blood" type="text" class="form-control" placeholder="Another input">
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput2">RH</label>
                <input name="rh" type="number" class="form-control"  placeholder="Another input">
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput2">City</label>
                <input name="city" type="text" class="form-control"  placeholder="Another input">
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput2">State</label>
                <input name="state" type="text" class="form-control"  placeholder="Another input">
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput2">Discharge date</label>
                <input name="date" type="date" class="form-control" placeholder="Another input">
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput2">Email</label>
                <input name="email" type="email" class="form-control"  placeholder="Another input">
              </div>

              <div class="form-group">

                <button type="submit" class="btn btn-primary" id="send">Send </button>
              </div>
          </form>
      </div>
</body>
</html>